:host {
  display: block;
}

.row{
 margin-top: 50vh;
}

.entry-btn{
  display: block;
  text-shadow: 2px 2px grey;
  width: 150px;
  line-height: 40px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color:white;
  font-size: 20xp;
  font-weight: 5000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.entry-btn:before,
.entry-btn:after{
  cursor: pointer;
  position: absolute;
  content: "";
  transition: all .25s;
  
}

.entry-btn:before{
  border-bottom: 2px solid rgb(255, 115, 0);
  border-left: 2px solid rgb(255, 115, 0);
  width: 10%;
  height: 33%;
  left: -10px;
  bottom: -10px;

}

.entry-btn:after{
  border-top: 2px solid rgb(255, 115, 0);
  border-right: 2px solid rgb(255, 115, 0);
  width: 10%;
  height: 33%;
  top: -10px;
  right: -10px;
  
}
.entry-btn:hover{
  text-shadow: 0px 0px grey;
  color:black;
  background: rgb(255, 115, 0);
  transition: all .5s;
}

.entry-btn:hover:before{
  width: 113%;
  height: 144%;
}

.entry-btn:hover:after{
  width: 113%;
  height: 144%;
}

