/* .nav {
  height: 5vh;
  background-color: #FF0095;
}
.content {
  height: 90vh; 
  width: 100%;
  background-color: grey;
}
.footer {
  height: 5vh;
  background-color: #FF0095;
} */

col-intro{
  height: 100vh;
}

.footer {
  position: absolute;
  width: 100%;
  height: 4vh;
  right: 0;
  bottom: 0;
  left: 0;
}