:host {
  display: block;
}
.side-bar {
  position: relative;
  height: 100vh;
  width: 30%;
  color:darkgray;
  background-color: darkgray;
  margin-left: 0px;

}

.side-bar::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: 44px 0px 59px 1px rgba(64,64,64,0.89);
  -moz-box-shadow: 44px 0px 59px 1px rgba(64,64,64,0.89);
  box-shadow: 44px 0px 59px 1px rgba(64,64,64,0.89);
  animation: 3s linear 0.5s opacityShadow forwards;
  -moz-animation: 3s linear 0.5s opacityShadow forwards;
  -webkit-animation: 3s linear 0.5s opacityShadow forwards;
}

@keyframes opacityShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes opacityShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

