
.iconx{ 
  cursor: pointer;
  height: 50px;
  font-size: 18px;
  font-family: 'Arvo', serif;
  color: rgb(102, 102, 102);
  justify-content: center;
  /* padding-top: 15px; */


}

.iconx .svg {
  display: block;
  margin-bottom: 0 auto;
}

.iconx .span {
  text-decoration: none !important;
}

