
.iconx{ 
  cursor: pointer;
  height: 50px;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
}

.iconx .svg {
  display: block;
  margin-bottom: 0 auto;
}

.iconx .span {
}